WSDL2JavaUtil/wsdl/cbr_ifc_ws_vwpessoa.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://schemas.meta4.com/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://schemas.meta4.com/" xmlns:intf="http://schemas.meta4.com/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://schemas.meta4.com/types" xmlns:tns2="http://exception.soapservices.meta4.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="http://schemas.meta4.com/types" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://exception.soapservices.meta4.com"/>
   <import namespace="http://schemas.meta4.com/"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Cbr_Pesquisar_LogradouroRecord">
    <sequence>

     <element name="bairro_Desc" nillable="true" type="xsd:string"/>
     <element name="bairro_Id" nillable="true" type="xsd:string"/>
     <element name="cep" nillable="true" type="xsd:string"/>
     <element name="cidade_Desc" nillable="true" type="xsd:string"/>
     <element name="cidade_Id" nillable="true" type="xsd:string"/>
     <element name="logr_Desc" nillable="true" type="xsd:string"/>
     <element name="logr_Id" nillable="true" type="xsd:string"/>
     <element name="m4AutoGeneratedRecordID" nillable="true" type="xsd:string"/>
     <element name="m4AutoGeneratedToDelete" type="xsd:boolean"/>

     <element name="pais_Desc" nillable="true" type="xsd:string"/>
     <element name="pais_Id" nillable="true" type="xsd:string"/>
     <element name="tipo_Logr_Desc" nillable="true" type="xsd:string"/>
     <element name="tipo_Logr_Id" nillable="true" type="xsd:string"/>
     <element name="uf_Desc" nillable="true" type="xsd:string"/>
     <element name="uf_Id" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Cbr_Pesquisar_LogradouroBlock">

    <sequence>
     <element name="cbr_Pesquisar_LogradouroRecordSet" nillable="true" type="impl:ArrayOf_tns1_Cbr_Pesquisar_LogradouroRecord"/>
     <element name="executerealsql" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="LogMessage">
    <sequence>
     <element name="code" nillable="true" type="xsd:string"/>
     <element name="description" nillable="true" type="xsd:string"/>

     <element name="severity" nillable="true" type="xsd:string"/>
     <element name="title" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Cbr_Pesquisar_LogradouroOutput">
    <sequence>
     <element name="cbr_Pesquisar_Logradouro" nillable="true" type="tns1:Cbr_Pesquisar_LogradouroBlock"/>
     <element name="logMessage" nillable="true" type="impl:ArrayOf_tns1_LogMessage"/>
     <element name="return" type="xsd:double"/>

    </sequence>
   </complexType>
   <complexType name="Cbr_Array_Id_HrRecord">
    <sequence>
     <element name="m4AutoGeneratedRecordID" nillable="true" type="xsd:string"/>
     <element name="m4AutoGeneratedToDelete" type="xsd:boolean"/>
     <element name="nome" nillable="true" type="xsd:string"/>
     <element name="sco_Gb_Name" nillable="true" type="xsd:string"/>
     <element name="std_Id_Hr" nillable="true" type="xsd:string"/>

    </sequence>
   </complexType>
   <complexType name="Cbr_Array_Id_HrBlock">
    <sequence>
     <element name="cbr_Array_Id_HrRecordSet" nillable="true" type="impl:ArrayOf_tns1_Cbr_Array_Id_HrRecord"/>
     <element name="sql" nillable="true" type="xsd:string"/>
     <element name="sql_Sentence" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>

   <complexType name="Cbr_Estado_CivilRecord">
    <sequence>
     <element name="m4AutoGeneratedRecordID" nillable="true" type="xsd:string"/>
     <element name="m4AutoGeneratedToDelete" type="xsd:boolean"/>
     <element name="std_Dt_End" nillable="true" type="xsd:dateTime"/>
     <element name="std_Dt_Start" nillable="true" type="xsd:dateTime"/>
     <element name="std_Id_Hr" nillable="true" type="xsd:string"/>
     <element name="std_Id_Marital_Stat" nillable="true" type="xsd:string"/>
    </sequence>

   </complexType>
   <complexType name="Cbr_Estado_CivilBlock">
    <sequence>
     <element name="cbr_Estado_CivilRecordSet" nillable="true" type="impl:ArrayOf_tns1_Cbr_Estado_CivilRecord"/>
     <element name="sql_Logico" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Cbr_Ifc_Ws_VwpessoaRecord">
    <sequence>

     <element name="cbr_Cpf" nillable="true" type="xsd:string"/>
     <element name="cbr_Dt_Emis_Cident" nillable="true" type="xsd:dateTime"/>
     <element name="cbr_Dt_Morte" nillable="true" type="xsd:dateTime"/>
     <element name="cbr_Id_Country_Te" nillable="true" type="xsd:string"/>
     <element name="cbr_Id_Ctry_Cident" nillable="true" type="xsd:string"/>
     <element name="cbr_Id_Geo_Div_Te" nillable="true" type="xsd:string"/>
     <element name="cbr_Id_Sub_Gdiv_Te" nillable="true" type="xsd:string"/>
     <element name="cbr_Id_Uf_Cident" nillable="true" type="xsd:string"/>
     <element name="cbr_N_Mae" nillable="true" type="xsd:string"/>

     <element name="cbr_N_Pai" nillable="true" type="xsd:string"/>
     <element name="cbr_Nro_Cart_Ident" nillable="true" type="xsd:string"/>
     <element name="cbr_Nro_Sic" nillable="true" type="xsd:string"/>
     <element name="cbr_Nro_T_Eleitor" nillable="true" type="xsd:string"/>
     <element name="cbr_Org_Emis_Cident" nillable="true" type="xsd:string"/>
     <element name="cbr_Pis_Pasep" nillable="true" type="xsd:string"/>
     <element name="cbr_Sec_T_Eleit" nillable="true" type="xsd:string"/>
     <element name="cbr_Zona_T_Eleit" nillable="true" type="xsd:string"/>
     <element name="id_Organization" nillable="true" type="xsd:string"/>

     <element name="m4AutoGeneratedRecordID" nillable="true" type="xsd:string"/>
     <element name="m4AutoGeneratedToDelete" type="xsd:boolean"/>
     <element name="sco_Gb_Name" nillable="true" type="xsd:string"/>
     <element name="std_Dt_Birth" nillable="true" type="xsd:dateTime"/>
     <element name="std_Id_Marital_Stat" nillable="true" type="xsd:string"/>
     <element name="std_Id_Person" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Cbr_Ifc_Ws_VwpessoaBlock">

    <sequence>
     <element name="cbr_Ifc_Ws_VwpessoaRecordSet" nillable="true" type="impl:ArrayOf_tns1_Cbr_Ifc_Ws_VwpessoaRecord"/>
     <element name="sql_Logico" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Cbr_Ifc_Ws_VwenderecoRecord">
    <sequence>
     <element name="cbr_Or_Logradouro" nillable="true" type="xsd:double"/>
     <element name="id_Organization" nillable="true" type="xsd:string"/>

     <element name="m4AutoGeneratedRecordID" nillable="true" type="xsd:string"/>
     <element name="m4AutoGeneratedToDelete" type="xsd:boolean"/>
     <element name="sco_Gb_Address" nillable="true" type="xsd:string"/>
     <element name="std_Address_Line_1" nillable="true" type="xsd:string"/>
     <element name="std_Address_Line_2" nillable="true" type="xsd:string"/>
     <element name="std_Dt_End" nillable="true" type="xsd:dateTime"/>
     <element name="std_Dt_Start" nillable="true" type="xsd:dateTime"/>
     <element name="std_Id_Country" nillable="true" type="xsd:string"/>
     <element name="std_Id_Geo_Div" nillable="true" type="xsd:string"/>

     <element name="std_Id_Geo_Place" nillable="true" type="xsd:string"/>
     <element name="std_Id_Location_Type" nillable="true" type="xsd:string"/>
     <element name="std_Id_Person" nillable="true" type="xsd:string"/>
     <element name="std_Id_Sub_Geo_Div" nillable="true" type="xsd:string"/>
     <element name="std_Mailing_Check" nillable="true" type="xsd:string"/>
     <element name="std_Or_Address" nillable="true" type="xsd:double"/>
     <element name="std_Zip_Code" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>

   <complexType name="Cbr_Ifc_Ws_VwenderecoBlock">
    <sequence>
     <element name="cbr_Ifc_Ws_VwenderecoRecordSet" nillable="true" type="impl:ArrayOf_tns1_Cbr_Ifc_Ws_VwenderecoRecord"/>
     <element name="sql_Logico" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Cbr_Ifc_Ws_VwtelefoneRecord">
    <sequence>
     <element name="cbr_Complemento" nillable="true" type="xsd:string"/>

     <element name="id_Organization" nillable="true" type="xsd:string"/>
     <element name="m4AutoGeneratedRecordID" nillable="true" type="xsd:string"/>
     <element name="m4AutoGeneratedToDelete" type="xsd:boolean"/>
     <element name="sco_Gb_Name" nillable="true" type="xsd:string"/>
     <element name="std_Dt_End" nillable="true" type="xsd:dateTime"/>
     <element name="std_Dt_Start" nillable="true" type="xsd:dateTime"/>
     <element name="std_Id_Line_Type" nillable="true" type="xsd:string"/>
     <element name="std_Id_Location_Type" nillable="true" type="xsd:string"/>
     <element name="std_Id_Person" nillable="true" type="xsd:string"/>

     <element name="std_Int_Country_Code" nillable="true" type="xsd:string"/>
     <element name="std_Int_Region_Code" nillable="true" type="xsd:string"/>
     <element name="std_Nat_Region_Code" nillable="true" type="xsd:string"/>
     <element name="std_Or_Phone" nillable="true" type="xsd:double"/>
     <element name="std_Phone" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Cbr_Ifc_Ws_VwtelefoneBlock">
    <sequence>

     <element name="cbr_Ifc_Ws_VwtelefoneRecordSet" nillable="true" type="impl:ArrayOf_tns1_Cbr_Ifc_Ws_VwtelefoneRecord"/>
     <element name="sql_Logico" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Cbr_Ifc_Ws_VwdependenteRecord">
    <sequence>
     <element name="id_Organization" nillable="true" type="xsd:string"/>
     <element name="m4AutoGeneratedRecordID" nillable="true" type="xsd:string"/>
     <element name="m4AutoGeneratedToDelete" type="xsd:boolean"/>

     <element name="std_Comment" nillable="true" type="xsd:string"/>
     <element name="std_Dt_End" nillable="true" type="xsd:dateTime"/>
     <element name="std_Dt_Start" nillable="true" type="xsd:dateTime"/>
     <element name="std_Id_Dep_Type" nillable="true" type="xsd:string"/>
     <element name="std_Id_Family_Person" nillable="true" type="xsd:string"/>
     <element name="std_Id_Hr" nillable="true" type="xsd:string"/>
     <element name="std_Or_Dep_Nb" nillable="true" type="xsd:double"/>
    </sequence>
   </complexType>

   <complexType name="Cbr_Ifc_Ws_VwdependenteBlock">
    <sequence>
     <element name="cbr_Ifc_Ws_VwdependenteRecordSet" nillable="true" type="impl:ArrayOf_tns1_Cbr_Ifc_Ws_VwdependenteRecord"/>
     <element name="sql_Logico" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Cbr_Ifc_Ws_Vwpessoa_BancoRecord">
    <sequence>
     <element name="id_Currency" nillable="true" type="xsd:string"/>

     <element name="id_Organization" nillable="true" type="xsd:string"/>
     <element name="m4AutoGeneratedRecordID" nillable="true" type="xsd:string"/>
     <element name="m4AutoGeneratedToDelete" type="xsd:boolean"/>
     <element name="sco_Account_Number" nillable="true" type="xsd:string"/>
     <element name="sco_Dt_End" nillable="true" type="xsd:dateTime"/>
     <element name="sco_Dt_Start" nillable="true" type="xsd:dateTime"/>
     <element name="sco_Entitled" nillable="true" type="xsd:string"/>
     <element name="sco_Gb_Bank" nillable="true" type="xsd:string"/>
     <element name="sco_Id_Bank_Branch" nillable="true" type="xsd:string"/>

     <element name="sco_Id_Banktype" nillable="true" type="xsd:string"/>
     <element name="sco_Id_Person" nillable="true" type="xsd:string"/>
     <element name="sco_Or_Account" nillable="true" type="xsd:double"/>
    </sequence>
   </complexType>
   <complexType name="Cbr_Ifc_Ws_Vwpessoa_BancoBlock">
    <sequence>
     <element name="cbr_Ifc_Ws_Vwpessoa_BancoRecordSet" nillable="true" type="impl:ArrayOf_tns1_Cbr_Ifc_Ws_Vwpessoa_BancoRecord"/>
     <element name="sql_Logico" nillable="true" type="xsd:string"/>

    </sequence>
   </complexType>
   <complexType name="Cbr_Pesq_Ult_Std_Id_PersonRecord">
    <sequence>
     <element name="codigo_Pessoa" nillable="true" type="xsd:double"/>
     <element name="m4AutoGeneratedRecordID" nillable="true" type="xsd:string"/>
     <element name="m4AutoGeneratedToDelete" type="xsd:boolean"/>
    </sequence>
   </complexType>

   <complexType name="Cbr_Pesq_Ult_Std_Id_PersonBlock">
    <sequence>
     <element name="cbr_Pesq_Ult_Std_Id_PersonRecordSet" nillable="true" type="impl:ArrayOf_tns1_Cbr_Pesq_Ult_Std_Id_PersonRecord"/>
     <element name="executerealsql" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Cbr_Pesquisar_Agencia_BancariaRecord">
    <sequence>
     <element name="cbr_Id_Banco" nillable="true" type="xsd:string"/>

     <element name="cbr_N_Banco" nillable="true" type="xsd:string"/>
     <element name="cbr_N_Bank_Branch" nillable="true" type="xsd:string"/>
     <element name="m4AutoGeneratedRecordID" nillable="true" type="xsd:string"/>
     <element name="m4AutoGeneratedToDelete" type="xsd:boolean"/>
     <element name="sco_Chips_Id" nillable="true" type="xsd:string"/>
     <element name="sco_Comment" nillable="true" type="xsd:string"/>
     <element name="sco_Dt_End" nillable="true" type="xsd:dateTime"/>
     <element name="sco_Dt_Start" nillable="true" type="xsd:dateTime"/>
     <element name="sco_Id_Bank_Branch" nillable="true" type="xsd:string"/>

    </sequence>
   </complexType>
   <complexType name="Cbr_Pesquisar_Agencia_BancariaBlock">
    <sequence>
     <element name="cbr_Pesquisar_Agencia_BancariaRecordSet" nillable="true" type="impl:ArrayOf_tns1_Cbr_Pesquisar_Agencia_BancariaRecord"/>
     <element name="sql_Logico" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="M4LoadobjectOutput">

    <sequence>
     <element name="cbr_Array_Id_Hr" nillable="true" type="tns1:Cbr_Array_Id_HrBlock"/>
     <element name="cbr_Estado_Civil" nillable="true" type="tns1:Cbr_Estado_CivilBlock"/>
     <element name="cbr_Ifc_Ws_Vwdependente" nillable="true" type="tns1:Cbr_Ifc_Ws_VwdependenteBlock"/>
     <element name="cbr_Ifc_Ws_Vwendereco" nillable="true" type="tns1:Cbr_Ifc_Ws_VwenderecoBlock"/>
     <element name="cbr_Ifc_Ws_Vwpessoa" nillable="true" type="tns1:Cbr_Ifc_Ws_VwpessoaBlock"/>
     <element name="cbr_Ifc_Ws_Vwpessoa_Banco" nillable="true" type="tns1:Cbr_Ifc_Ws_Vwpessoa_BancoBlock"/>
     <element name="cbr_Ifc_Ws_Vwtelefone" nillable="true" type="tns1:Cbr_Ifc_Ws_VwtelefoneBlock"/>
     <element name="cbr_Pesq_Ult_Std_Id_Person" nillable="true" type="tns1:Cbr_Pesq_Ult_Std_Id_PersonBlock"/>

     <element name="cbr_Pesquisar_Agencia_Bancaria" nillable="true" type="tns1:Cbr_Pesquisar_Agencia_BancariaBlock"/>
     <element name="cbr_Pesquisar_Logradouro" nillable="true" type="tns1:Cbr_Pesquisar_LogradouroBlock"/>
     <element name="logMessage" nillable="true" type="impl:ArrayOf_tns1_LogMessage"/>
     <element name="return" type="xsd:double"/>
    </sequence>
   </complexType>
   <complexType name="NovoOutput">
    <sequence>
     <element name="cbr_Ifc_Ws_Vwpessoa" nillable="true" type="tns1:Cbr_Ifc_Ws_VwpessoaBlock"/>

     <element name="logMessage" nillable="true" type="impl:ArrayOf_tns1_LogMessage"/>
     <element name="return" type="xsd:double"/>
    </sequence>
   </complexType>
   <complexType name="AlterarOutput">
    <sequence>
     <element name="cbr_Ifc_Ws_Vwpessoa" nillable="true" type="tns1:Cbr_Ifc_Ws_VwpessoaBlock"/>
     <element name="logMessage" nillable="true" type="impl:ArrayOf_tns1_LogMessage"/>
     <element name="return" type="xsd:double"/>

    </sequence>
   </complexType>
   <complexType name="PesquisarOutput">
    <sequence>
     <element name="cbr_Ifc_Ws_Vwpessoa" nillable="true" type="tns1:Cbr_Ifc_Ws_VwpessoaBlock"/>
     <element name="logMessage" nillable="true" type="impl:ArrayOf_tns1_LogMessage"/>
     <element name="return" type="xsd:double"/>
    </sequence>
   </complexType>

   <complexType name="Novo_BancoOutput">
    <sequence>
     <element name="cbr_Ifc_Ws_Vwpessoa_Banco" nillable="true" type="tns1:Cbr_Ifc_Ws_Vwpessoa_BancoBlock"/>
     <element name="logMessage" nillable="true" type="impl:ArrayOf_tns1_LogMessage"/>
     <element name="return" type="xsd:double"/>
    </sequence>
   </complexType>
   <complexType name="Alterar_BancoOutput">
    <sequence>

     <element name="cbr_Ifc_Ws_Vwpessoa_Banco" nillable="true" type="tns1:Cbr_Ifc_Ws_Vwpessoa_BancoBlock"/>
     <element name="logMessage" nillable="true" type="impl:ArrayOf_tns1_LogMessage"/>
     <element name="return" type="xsd:double"/>
    </sequence>
   </complexType>
   <complexType name="Novo_EnderecoOutput">
    <sequence>
     <element name="cbr_Ifc_Ws_Vwendereco" nillable="true" type="tns1:Cbr_Ifc_Ws_VwenderecoBlock"/>
     <element name="logMessage" nillable="true" type="impl:ArrayOf_tns1_LogMessage"/>

     <element name="return" type="xsd:double"/>
    </sequence>
   </complexType>
   <complexType name="Novo_TelefoneOutput">
    <sequence>
     <element name="cbr_Ifc_Ws_Vwtelefone" nillable="true" type="tns1:Cbr_Ifc_Ws_VwtelefoneBlock"/>
     <element name="logMessage" nillable="true" type="impl:ArrayOf_tns1_LogMessage"/>
     <element name="return" type="xsd:double"/>
    </sequence>

   </complexType>
   <complexType name="Novo_DependenteOutput">
    <sequence>
     <element name="cbr_Ifc_Ws_Vwdependente" nillable="true" type="tns1:Cbr_Ifc_Ws_VwdependenteBlock"/>
     <element name="logMessage" nillable="true" type="impl:ArrayOf_tns1_LogMessage"/>
     <element name="return" type="xsd:double"/>
    </sequence>
   </complexType>
   <complexType name="Pesquisar_BancoOutput">

    <sequence>
     <element name="cbr_Ifc_Ws_Vwpessoa_Banco" nillable="true" type="tns1:Cbr_Ifc_Ws_Vwpessoa_BancoBlock"/>
     <element name="logMessage" nillable="true" type="impl:ArrayOf_tns1_LogMessage"/>
     <element name="return" type="xsd:double"/>
    </sequence>
   </complexType>
   <complexType name="Alterar_EnderecoOutput">
    <sequence>
     <element name="cbr_Ifc_Ws_Vwendereco" nillable="true" type="tns1:Cbr_Ifc_Ws_VwenderecoBlock"/>

     <element name="logMessage" nillable="true" type="impl:ArrayOf_tns1_LogMessage"/>
     <element name="return" type="xsd:double"/>
    </sequence>
   </complexType>
   <complexType name="Alterar_TelefoneOutput">
    <sequence>
     <element name="cbr_Ifc_Ws_Vwtelefone" nillable="true" type="tns1:Cbr_Ifc_Ws_VwtelefoneBlock"/>
     <element name="logMessage" nillable="true" type="impl:ArrayOf_tns1_LogMessage"/>
     <element name="return" type="xsd:double"/>

    </sequence>
   </complexType>
   <complexType name="Alterar_DependenteOutput">
    <sequence>
     <element name="cbr_Ifc_Ws_Vwdependente" nillable="true" type="tns1:Cbr_Ifc_Ws_VwdependenteBlock"/>
     <element name="logMessage" nillable="true" type="impl:ArrayOf_tns1_LogMessage"/>
     <element name="return" type="xsd:double"/>
    </sequence>
   </complexType>

   <complexType name="Pesquisar_EnderecoOutput">
    <sequence>
     <element name="cbr_Ifc_Ws_Vwendereco" nillable="true" type="tns1:Cbr_Ifc_Ws_VwenderecoBlock"/>
     <element name="logMessage" nillable="true" type="impl:ArrayOf_tns1_LogMessage"/>
     <element name="return" type="xsd:double"/>
    </sequence>
   </complexType>
   <complexType name="Pesquisar_TelefoneOutput">
    <sequence>

     <element name="cbr_Ifc_Ws_Vwtelefone" nillable="true" type="tns1:Cbr_Ifc_Ws_VwtelefoneBlock"/>
     <element name="logMessage" nillable="true" type="impl:ArrayOf_tns1_LogMessage"/>
     <element name="return" type="xsd:double"/>
    </sequence>
   </complexType>
   <complexType name="Pesquisar_DependenteOutput">
    <sequence>
     <element name="cbr_Ifc_Ws_Vwdependente" nillable="true" type="tns1:Cbr_Ifc_Ws_VwdependenteBlock"/>
     <element name="logMessage" nillable="true" type="impl:ArrayOf_tns1_LogMessage"/>

     <element name="return" type="xsd:double"/>
    </sequence>
   </complexType>
   <complexType name="Pesquisar_Agencia_BancariaOutput">
    <sequence>
     <element name="cbr_Pesquisar_Agencia_Bancaria" nillable="true" type="tns1:Cbr_Pesquisar_Agencia_BancariaBlock"/>
     <element name="logMessage" nillable="true" type="impl:ArrayOf_tns1_LogMessage"/>
     <element name="return" type="xsd:double"/>
    </sequence>

   </complexType>
  </schema>
  <schema targetNamespace="http://schemas.meta4.com/" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://exception.soapservices.meta4.com"/>
   <import namespace="http://schemas.meta4.com/types"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_tns1_Cbr_Pesquisar_LogradouroRecord">
    <complexContent>
     <restriction base="soapenc:Array">

      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:Cbr_Pesquisar_LogradouroRecord[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns1_LogMessage">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:LogMessage[]"/>
     </restriction>

    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns1_Cbr_Array_Id_HrRecord">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:Cbr_Array_Id_HrRecord[]"/>
     </restriction>
    </complexContent>
   </complexType>

   <complexType name="ArrayOf_tns1_Cbr_Estado_CivilRecord">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:Cbr_Estado_CivilRecord[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns1_Cbr_Ifc_Ws_VwpessoaRecord">
    <complexContent>

     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:Cbr_Ifc_Ws_VwpessoaRecord[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns1_Cbr_Ifc_Ws_VwenderecoRecord">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:Cbr_Ifc_Ws_VwenderecoRecord[]"/>

     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns1_Cbr_Ifc_Ws_VwtelefoneRecord">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:Cbr_Ifc_Ws_VwtelefoneRecord[]"/>
     </restriction>
    </complexContent>

   </complexType>
   <complexType name="ArrayOf_tns1_Cbr_Ifc_Ws_VwdependenteRecord">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:Cbr_Ifc_Ws_VwdependenteRecord[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns1_Cbr_Ifc_Ws_Vwpessoa_BancoRecord">

    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:Cbr_Ifc_Ws_Vwpessoa_BancoRecord[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns1_Cbr_Pesq_Ult_Std_Id_PersonRecord">
    <complexContent>
     <restriction base="soapenc:Array">

      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:Cbr_Pesq_Ult_Std_Id_PersonRecord[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns1_Cbr_Pesquisar_Agencia_BancariaRecord">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:Cbr_Pesquisar_Agencia_BancariaRecord[]"/>
     </restriction>

    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://exception.soapservices.meta4.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.meta4.com/types"/>
   <import namespace="http://schemas.meta4.com/"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="M4SoapException">
    <sequence/>

   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="retrieveM4SessionRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="PESQUISAR_ENDERECOResponse">

      <wsdl:part name="PESQUISAR_ENDERECOReturn" type="tns1:Pesquisar_EnderecoOutput"/>

   </wsdl:message>

   <wsdl:message name="PESQUISAR_AGENCIA_BANCARIARequest">

      <wsdl:part name="ARG_CBR_ID_BANCO" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="NOVO_TELEFONERequest">

      <wsdl:part name="ARG_STD_ID_PERSON" type="soapenc:string"/>

      <wsdl:part name="ARG_STD_OR_PHONE" type="soapenc:double"/>

      <wsdl:part name="ARG_STD_PHONE" type="soapenc:string"/>

      <wsdl:part name="ARG_STD_DT_START" type="xsd:dateTime"/>

      <wsdl:part name="ARG_STD_DT_END" type="xsd:dateTime"/>

      <wsdl:part name="ARG_STD_ID_LINE_TYPE" type="soapenc:string"/>

      <wsdl:part name="ARG_STD_INT_COUNTRY_CODE" type="soapenc:string"/>

      <wsdl:part name="ARG_STD_INT_REGION_CODE" type="soapenc:string"/>

      <wsdl:part name="ARG_CBR_COMPLEMENTO" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="CBR_PESQUISAR_LOGRADOUROResponse">

      <wsdl:part name="CBR_PESQUISAR_LOGRADOUROReturn" type="tns1:Cbr_Pesquisar_LogradouroOutput"/>

   </wsdl:message>

   <wsdl:message name="ALTERARResponse">

      <wsdl:part name="ALTERARReturn" type="tns1:AlterarOutput"/>

   </wsdl:message>

   <wsdl:message name="ALTERAR_TELEFONEResponse">

      <wsdl:part name="ALTERAR_TELEFONEReturn" type="tns1:Alterar_TelefoneOutput"/>

   </wsdl:message>

   <wsdl:message name="PESQUISAR_BANCOResponse">

      <wsdl:part name="PESQUISAR_BANCOReturn" type="tns1:Pesquisar_BancoOutput"/>

   </wsdl:message>

   <wsdl:message name="ALTERARRequest">

      <wsdl:part name="ARG_STD_ID_PERSON" type="soapenc:string"/>

      <wsdl:part name="ARG_SCO_GB_NAME" type="soapenc:string"/>

      <wsdl:part name="ARG_STD_DT_BIRTH" type="xsd:dateTime"/>

      <wsdl:part name="ARG_CBR_DT_MORTE" type="xsd:dateTime"/>

      <wsdl:part name="ARG_CBR_N_MAE" type="soapenc:string"/>

      <wsdl:part name="ARG_CBR_N_PAI" type="soapenc:string"/>

      <wsdl:part name="ARG_CBR_CPF" type="soapenc:string"/>

      <wsdl:part name="ARG_CBR_NRO_SIC" type="soapenc:string"/>

      <wsdl:part name="ARG_CBR_PIS_PASEP" type="soapenc:string"/>

      <wsdl:part name="ARG_CBR_NRO_CART_IDENT" type="soapenc:string"/>

      <wsdl:part name="ARG_CBR_ORG_EMIS_CIDENT" type="soapenc:string"/>

      <wsdl:part name="ARG_CBR_DT_EMIS_CIDENT" type="xsd:dateTime"/>

      <wsdl:part name="ARG_CBR_NRO_T_ELEITOR" type="soapenc:string"/>

      <wsdl:part name="ARG_CBR_ZONA_T_ELEIT" type="soapenc:string"/>

      <wsdl:part name="ARG_CBR_SEC_T_ELEIT" type="soapenc:string"/>

      <wsdl:part name="ARG_CBR_ID_SUB_GDIV_TE" type="soapenc:string"/>

      <wsdl:part name="ARG_CBR_ID_GEO_DIV_TE" type="soapenc:string"/>

      <wsdl:part name="ARG_CBR_ID_COUNTRY_TE" type="soapenc:string"/>

      <wsdl:part name="ARG_ESTADO_CIVIL" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="PESQUISARRequest">

      <wsdl:part name="ARG_STD_ID_PERSON" type="soapenc:string"/>

      <wsdl:part name="ARG_NOME" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="M4LoadObjectRequest">

      <wsdl:part name="CBR_ARRAY_ID_HR" type="tns1:Cbr_Array_Id_HrBlock"/>

      <wsdl:part name="CBR_ESTADO_CIVIL" type="tns1:Cbr_Estado_CivilBlock"/>

      <wsdl:part name="CBR_IFC_WS_VWPESSOA" type="tns1:Cbr_Ifc_Ws_VwpessoaBlock"/>

      <wsdl:part name="CBR_IFC_WS_VWENDERECO" type="tns1:Cbr_Ifc_Ws_VwenderecoBlock"/>

      <wsdl:part name="CBR_IFC_WS_VWTELEFONE" type="tns1:Cbr_Ifc_Ws_VwtelefoneBlock"/>

      <wsdl:part name="CBR_IFC_WS_VWDEPENDENTE" type="tns1:Cbr_Ifc_Ws_VwdependenteBlock"/>

      <wsdl:part name="CBR_PESQUISAR_LOGRADOURO" type="tns1:Cbr_Pesquisar_LogradouroBlock"/>

      <wsdl:part name="CBR_IFC_WS_VWPESSOA_BANCO" type="tns1:Cbr_Ifc_Ws_Vwpessoa_BancoBlock"/>

      <wsdl:part name="CBR_PESQ_ULT_STD_ID_PERSON" type="tns1:Cbr_Pesq_Ult_Std_Id_PersonBlock"/>

      <wsdl:part name="CBR_PESQUISAR_AGENCIA_BANCARIA" type="tns1:Cbr_Pesquisar_Agencia_BancariaBlock"/>

   </wsdl:message>

   <wsdl:message name="ALTERAR_TELEFONERequest">

      <wsdl:part name="ARG_STD_ID_PERSON" type="soapenc:string"/>

      <wsdl:part name="ARG_STD_OR_PHONE" type="soapenc:double"/>

      <wsdl:part name="ARG_STD_PHONE" type="soapenc:string"/>

      <wsdl:part name="ARG_STD_DT_START" type="xsd:dateTime"/>

      <wsdl:part name="ARG_STD_DT_END" type="xsd:dateTime"/>

      <wsdl:part name="ARG_STD_ID_LINE_TYPE" type="soapenc:string"/>

      <wsdl:part name="ARG_STD_INT_COUNTRY_CODE" type="soapenc:string"/>

      <wsdl:part name="ARG_STD_INT_REGION_CODE" type="soapenc:string"/>

      <wsdl:part name="ARG_CBR_COMPLEMENTO" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="NOVORequest">

      <wsdl:part name="ARG_STD_ID_PERSON" type="soapenc:string"/>

      <wsdl:part name="ARG_SCO_GB_NAME" type="soapenc:string"/>

      <wsdl:part name="ARG_STD_DT_BIRTH" type="xsd:dateTime"/>

      <wsdl:part name="ARG_CBR_DT_MORTE" type="xsd:dateTime"/>

      <wsdl:part name="ARG_CBR_N_MAE" type="soapenc:string"/>

      <wsdl:part name="ARG_CBR_N_PAI" type="soapenc:string"/>

      <wsdl:part name="ARG_CBR_CPF" type="soapenc:string"/>

      <wsdl:part name="ARG_CBR_NRO_SIC" type="soapenc:string"/>

      <wsdl:part name="ARG_CBR_PIS_PASEP" type="soapenc:string"/>

      <wsdl:part name="ARG_CBR_NRO_CART_IDENT" type="soapenc:string"/>

      <wsdl:part name="ARG_CBR_ORG_EMIS_CIDENT" type="soapenc:string"/>

      <wsdl:part name="ARG_CBR_DT_EMIS_CIDENT" type="xsd:dateTime"/>

      <wsdl:part name="ARG_CBR_NRO_T_ELEITOR" type="soapenc:string"/>

      <wsdl:part name="ARG_CBR_ZONA_T_ELEIT" type="soapenc:string"/>

      <wsdl:part name="ARG_CBR_SEC_T_ELEIT" type="soapenc:string"/>

      <wsdl:part name="ARG_CBR_ID_SUB_GDIV_TE" type="soapenc:string"/>

      <wsdl:part name="ARG_CBR_ID_GEO_DIV_TE" type="soapenc:string"/>

      <wsdl:part name="ARG_CBR_ID_COUNTRY_TE" type="soapenc:string"/>

      <wsdl:part name="ARG_ESTADO_CIVIL" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="ALTERAR_ENDERECOResponse">

      <wsdl:part name="ALTERAR_ENDERECOReturn" type="tns1:Alterar_EnderecoOutput"/>

   </wsdl:message>

   <wsdl:message name="ALTERAR_ENDERECORequest">

      <wsdl:part name="ARG_STD_ID_PERSON" type="soapenc:string"/>

      <wsdl:part name="ARG_STD_OR_ADDRESS" type="soapenc:double"/>

      <wsdl:part name="ARG_STD_DT_START" type="xsd:dateTime"/>

      <wsdl:part name="ARG_STD_DT_END" type="xsd:dateTime"/>

      <wsdl:part name="ARG_CBR_OR_LOGRADOURO" type="soapenc:double"/>

      <wsdl:part name="ARG_STD_ADDRESS_LINE_1" type="soapenc:string"/>

      <wsdl:part name="ARG_STD_ADDRESS_LINE_2" type="soapenc:string"/>

      <wsdl:part name="ARG_STD_ZIP_CODE" type="soapenc:string"/>

      <wsdl:part name="ARG_SCO_GB_ADDRESS" type="soapenc:string"/>

      <wsdl:part name="ARG_STD_ID_GEO_PLACE" type="soapenc:string"/>

      <wsdl:part name="ARG_STD_ID_SUB_GEO_DIV" type="soapenc:string"/>

      <wsdl:part name="ARG_STD_ID_GEO_DIV" type="soapenc:string"/>

      <wsdl:part name="ARG_STD_ID_COUNTRY" type="soapenc:string"/>

      <wsdl:part name="ARG_STD_ID_LOCATION_TYPE" type="soapenc:string"/>

      <wsdl:part name="ARG_STD_MAILING_CHECK" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="ALTERAR_DEPENDENTERequest">

      <wsdl:part name="ARG_STD_ID_HR" type="soapenc:string"/>

      <wsdl:part name="ARG_STD_OR_DEP_NB" type="soapenc:double"/>

      <wsdl:part name="ARG_STD_DT_START" type="xsd:dateTime"/>

      <wsdl:part name="ARG_STD_DT_END" type="xsd:dateTime"/>

      <wsdl:part name="ARG_STD_ID_DEP_TYPE" type="soapenc:string"/>

      <wsdl:part name="ARG_STD_ID_FAMILY_PERSON" type="soapenc:string"/>

      <wsdl:part name="ARG_STD_COMMENT" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="M4LoadObjectResponse">

      <wsdl:part name="M4LoadObjectReturn" type="tns1:M4LoadobjectOutput"/>

   </wsdl:message>

   <wsdl:message name="PESQUISARResponse">

      <wsdl:part name="PESQUISARReturn" type="tns1:PesquisarOutput"/>

   </wsdl:message>

   <wsdl:message name="NOVO_ENDERECOResponse">

      <wsdl:part name="NOVO_ENDERECOReturn" type="tns1:Novo_EnderecoOutput"/>

   </wsdl:message>

   <wsdl:message name="NOVO_DEPENDENTERequest">

      <wsdl:part name="ARG_STD_ID_HR" type="soapenc:string"/>

      <wsdl:part name="ARG_STD_OR_DEP_NB" type="soapenc:double"/>

      <wsdl:part name="ARG_STD_DT_START" type="xsd:dateTime"/>

      <wsdl:part name="ARG_STD_DT_END" type="xsd:dateTime"/>

      <wsdl:part name="ARG_STD_ID_DEP_TYPE" type="soapenc:string"/>

      <wsdl:part name="ARG_STD_ID_FAMILY_PERSON" type="soapenc:string"/>

      <wsdl:part name="ARG_STD_COMMENT" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="PESQUISAR_DEPENDENTERequest">

      <wsdl:part name="ARG_STD_ID_HR" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="NOVOResponse">

      <wsdl:part name="NOVOReturn" type="tns1:NovoOutput"/>

   </wsdl:message>

   <wsdl:message name="PESQUISAR_TELEFONERequest">

      <wsdl:part name="ARG_STD_ID_PERSON" type="soapenc:string"/>

      <wsdl:part name="ARG_SCO_GB_NAME" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="M4SoapException">

      <wsdl:part name="fault" type="tns2:M4SoapException"/>

   </wsdl:message>

   <wsdl:message name="NOVO_BANCORequest">

      <wsdl:part name="ARG_SCO_ID_PERSON" type="soapenc:string"/>

      <wsdl:part name="ARG_SCO_OR_ACCOUNT" type="soapenc:double"/>

      <wsdl:part name="ARG_SCO_DT_START" type="xsd:dateTime"/>

      <wsdl:part name="ARG_SCO_DT_END" type="xsd:dateTime"/>

      <wsdl:part name="ARG_SCO_ID_BANK_BRANCH" type="soapenc:string"/>

      <wsdl:part name="ARG_SCO_ENTITLED" type="soapenc:string"/>

      <wsdl:part name="ARG_SCO_ACCOUNT_NUMBER" type="soapenc:string"/>

      <wsdl:part name="ARG_SCO_ID_BANKTYPE" type="soapenc:string"/>

      <wsdl:part name="ARG_SCO_GB_BANK" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="PESQUISAR_TELEFONEResponse">

      <wsdl:part name="PESQUISAR_TELEFONEReturn" type="tns1:Pesquisar_TelefoneOutput"/>

   </wsdl:message>

   <wsdl:message name="NOVO_TELEFONEResponse">

      <wsdl:part name="NOVO_TELEFONEReturn" type="tns1:Novo_TelefoneOutput"/>

   </wsdl:message>

   <wsdl:message name="ALTERAR_BANCOResponse">

      <wsdl:part name="ALTERAR_BANCOReturn" type="tns1:Alterar_BancoOutput"/>

   </wsdl:message>

   <wsdl:message name="retrieveM4SessionResponse">

      <wsdl:part name="retrieveM4SessionReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="NOVO_BANCOResponse">

      <wsdl:part name="NOVO_BANCOReturn" type="tns1:Novo_BancoOutput"/>

   </wsdl:message>

   <wsdl:message name="CBR_PESQUISAR_LOGRADOURORequest">

      <wsdl:part name="ARG_CEP" type="soapenc:string"/>

      <wsdl:part name="ARG_ID_PAIS" type="soapenc:string"/>

      <wsdl:part name="ARG_UF" type="soapenc:string"/>

      <wsdl:part name="ARG_DESC_LOGRADOURO" type="soapenc:string"/>

      <wsdl:part name="ARG_ID_LOGRADOURO" type="soapenc:string"/>

      <wsdl:part name="ARG_ID_BAIRRO" type="soapenc:string"/>

      <wsdl:part name="ARG_ID_CIDADE" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="ALTERAR_BANCORequest">

      <wsdl:part name="ARG_SCO_ID_PERSON" type="soapenc:string"/>

      <wsdl:part name="ARG_SCO_OR_ACCOUNT" type="soapenc:double"/>

      <wsdl:part name="ARG_SCO_DT_START" type="xsd:dateTime"/>

      <wsdl:part name="ARG_SCO_DT_END" type="xsd:dateTime"/>

      <wsdl:part name="ARG_SCO_ID_BANK_BRANCH" type="soapenc:string"/>

      <wsdl:part name="ARG_SCO_ENTITLED" type="soapenc:string"/>

      <wsdl:part name="ARG_SCO_ACCOUNT_NUMBER" type="soapenc:string"/>

      <wsdl:part name="ARG_SCO_ID_BANKTYPE" type="soapenc:string"/>

      <wsdl:part name="ARG_SCO_GB_BANK" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="NOVO_ENDERECORequest">

      <wsdl:part name="ARG_STD_ID_PERSON" type="soapenc:string"/>

      <wsdl:part name="ARG_STD_OR_ADDRESS" type="soapenc:double"/>

      <wsdl:part name="ARG_STD_DT_START" type="xsd:dateTime"/>

      <wsdl:part name="ARG_STD_DT_END" type="xsd:dateTime"/>

      <wsdl:part name="ARG_CBR_OR_LOGRADOURO" type="soapenc:double"/>

      <wsdl:part name="ARG_STD_ADDRESS_LINE_1" type="soapenc:string"/>

      <wsdl:part name="ARG_STD_ADDRESS_LINE_2" type="soapenc:string"/>

      <wsdl:part name="ARG_STD_ZIP_CODE" type="soapenc:string"/>

      <wsdl:part name="ARG_SCO_GB_ADDRESS" type="soapenc:string"/>

      <wsdl:part name="ARG_STD_ID_GEO_PLACE" type="soapenc:string"/>

      <wsdl:part name="ARG_STD_ID_SUB_GEO_DIV" type="soapenc:string"/>

      <wsdl:part name="ARG_STD_ID_GEO_DIV" type="soapenc:string"/>

      <wsdl:part name="ARG_STD_ID_COUNTRY" type="soapenc:string"/>

      <wsdl:part name="ARG_STD_ID_LOCATION_TYPE" type="soapenc:string"/>

      <wsdl:part name="ARG_STD_MAILING_CHECK" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="PESQUISAR_BANCORequest">

      <wsdl:part name="ARG_STD_ID_PERSON" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="PESQUISAR_AGENCIA_BANCARIAResponse">

      <wsdl:part name="PESQUISAR_AGENCIA_BANCARIAReturn" type="tns1:Pesquisar_Agencia_BancariaOutput"/>

   </wsdl:message>

   <wsdl:message name="ALTERAR_DEPENDENTEResponse">

      <wsdl:part name="ALTERAR_DEPENDENTEReturn" type="tns1:Alterar_DependenteOutput"/>

   </wsdl:message>

   <wsdl:message name="NOVO_DEPENDENTEResponse">

      <wsdl:part name="NOVO_DEPENDENTEReturn" type="tns1:Novo_DependenteOutput"/>

   </wsdl:message>

   <wsdl:message name="PESQUISAR_ENDERECORequest">

      <wsdl:part name="ARG_STD_ID_PERSON" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="PESQUISAR_DEPENDENTEResponse">

      <wsdl:part name="PESQUISAR_DEPENDENTEReturn" type="tns1:Pesquisar_DependenteOutput"/>

   </wsdl:message>

   <wsdl:portType name="Cbr_Ifc_Ws_VwpessoaService">

      <wsdl:operation name="CBR_PESQUISAR_LOGRADOURO" parameterOrder="ARG_CEP ARG_ID_PAIS ARG_UF ARG_DESC_LOGRADOURO ARG_ID_LOGRADOURO ARG_ID_BAIRRO ARG_ID_CIDADE">

         <wsdl:input message="impl:CBR_PESQUISAR_LOGRADOURORequest" name="CBR_PESQUISAR_LOGRADOURORequest"/>

         <wsdl:output message="impl:CBR_PESQUISAR_LOGRADOUROResponse" name="CBR_PESQUISAR_LOGRADOUROResponse"/>

         <wsdl:fault message="impl:M4SoapException" name="M4SoapException"/>

      </wsdl:operation>

      <wsdl:operation name="M4LoadObject" parameterOrder="CBR_ARRAY_ID_HR CBR_ESTADO_CIVIL CBR_IFC_WS_VWPESSOA CBR_IFC_WS_VWENDERECO CBR_IFC_WS_VWTELEFONE CBR_IFC_WS_VWDEPENDENTE CBR_PESQUISAR_LOGRADOURO CBR_IFC_WS_VWPESSOA_BANCO CBR_PESQ_ULT_STD_ID_PERSON CBR_PESQUISAR_AGENCIA_BANCARIA">

         <wsdl:input message="impl:M4LoadObjectRequest" name="M4LoadObjectRequest"/>

         <wsdl:output message="impl:M4LoadObjectResponse" name="M4LoadObjectResponse"/>

         <wsdl:fault message="impl:M4SoapException" name="M4SoapException"/>

      </wsdl:operation>

      <wsdl:operation name="NOVO" parameterOrder="ARG_STD_ID_PERSON ARG_SCO_GB_NAME ARG_STD_DT_BIRTH ARG_CBR_DT_MORTE ARG_CBR_N_MAE ARG_CBR_N_PAI ARG_CBR_CPF ARG_CBR_NRO_SIC ARG_CBR_PIS_PASEP ARG_CBR_NRO_CART_IDENT ARG_CBR_ORG_EMIS_CIDENT ARG_CBR_DT_EMIS_CIDENT ARG_CBR_NRO_T_ELEITOR ARG_CBR_ZONA_T_ELEIT ARG_CBR_SEC_T_ELEIT ARG_CBR_ID_SUB_GDIV_TE ARG_CBR_ID_GEO_DIV_TE ARG_CBR_ID_COUNTRY_TE ARG_ESTADO_CIVIL">

         <wsdl:input message="impl:NOVORequest" name="NOVORequest"/>

         <wsdl:output message="impl:NOVOResponse" name="NOVOResponse"/>

         <wsdl:fault message="impl:M4SoapException" name="M4SoapException"/>

      </wsdl:operation>

      <wsdl:operation name="ALTERAR" parameterOrder="ARG_STD_ID_PERSON ARG_SCO_GB_NAME ARG_STD_DT_BIRTH ARG_CBR_DT_MORTE ARG_CBR_N_MAE ARG_CBR_N_PAI ARG_CBR_CPF ARG_CBR_NRO_SIC ARG_CBR_PIS_PASEP ARG_CBR_NRO_CART_IDENT ARG_CBR_ORG_EMIS_CIDENT ARG_CBR_DT_EMIS_CIDENT ARG_CBR_NRO_T_ELEITOR ARG_CBR_ZONA_T_ELEIT ARG_CBR_SEC_T_ELEIT ARG_CBR_ID_SUB_GDIV_TE ARG_CBR_ID_GEO_DIV_TE ARG_CBR_ID_COUNTRY_TE ARG_ESTADO_CIVIL">

         <wsdl:input message="impl:ALTERARRequest" name="ALTERARRequest"/>

         <wsdl:output message="impl:ALTERARResponse" name="ALTERARResponse"/>

         <wsdl:fault message="impl:M4SoapException" name="M4SoapException"/>

      </wsdl:operation>

      <wsdl:operation name="PESQUISAR" parameterOrder="ARG_STD_ID_PERSON ARG_NOME">

         <wsdl:input message="impl:PESQUISARRequest" name="PESQUISARRequest"/>

         <wsdl:output message="impl:PESQUISARResponse" name="PESQUISARResponse"/>

         <wsdl:fault message="impl:M4SoapException" name="M4SoapException"/>

      </wsdl:operation>

      <wsdl:operation name="NOVO_BANCO" parameterOrder="ARG_SCO_ID_PERSON ARG_SCO_OR_ACCOUNT ARG_SCO_DT_START ARG_SCO_DT_END ARG_SCO_ID_BANK_BRANCH ARG_SCO_ENTITLED ARG_SCO_ACCOUNT_NUMBER ARG_SCO_ID_BANKTYPE ARG_SCO_GB_BANK">

         <wsdl:input message="impl:NOVO_BANCORequest" name="NOVO_BANCORequest"/>

         <wsdl:output message="impl:NOVO_BANCOResponse" name="NOVO_BANCOResponse"/>

         <wsdl:fault message="impl:M4SoapException" name="M4SoapException"/>

      </wsdl:operation>

      <wsdl:operation name="ALTERAR_BANCO" parameterOrder="ARG_SCO_ID_PERSON ARG_SCO_OR_ACCOUNT ARG_SCO_DT_START ARG_SCO_DT_END ARG_SCO_ID_BANK_BRANCH ARG_SCO_ENTITLED ARG_SCO_ACCOUNT_NUMBER ARG_SCO_ID_BANKTYPE ARG_SCO_GB_BANK">

         <wsdl:input message="impl:ALTERAR_BANCORequest" name="ALTERAR_BANCORequest"/>

         <wsdl:output message="impl:ALTERAR_BANCOResponse" name="ALTERAR_BANCOResponse"/>

         <wsdl:fault message="impl:M4SoapException" name="M4SoapException"/>

      </wsdl:operation>

      <wsdl:operation name="NOVO_ENDERECO" parameterOrder="ARG_STD_ID_PERSON ARG_STD_OR_ADDRESS ARG_STD_DT_START ARG_STD_DT_END ARG_CBR_OR_LOGRADOURO ARG_STD_ADDRESS_LINE_1 ARG_STD_ADDRESS_LINE_2 ARG_STD_ZIP_CODE ARG_SCO_GB_ADDRESS ARG_STD_ID_GEO_PLACE ARG_STD_ID_SUB_GEO_DIV ARG_STD_ID_GEO_DIV ARG_STD_ID_COUNTRY ARG_STD_ID_LOCATION_TYPE ARG_STD_MAILING_CHECK">

         <wsdl:input message="impl:NOVO_ENDERECORequest" name="NOVO_ENDERECORequest"/>

         <wsdl:output message="impl:NOVO_ENDERECOResponse" name="NOVO_ENDERECOResponse"/>

         <wsdl:fault message="impl:M4SoapException" name="M4SoapException"/>

      </wsdl:operation>

      <wsdl:operation name="NOVO_TELEFONE" parameterOrder="ARG_STD_ID_PERSON ARG_STD_OR_PHONE ARG_STD_PHONE ARG_STD_DT_START ARG_STD_DT_END ARG_STD_ID_LINE_TYPE ARG_STD_INT_COUNTRY_CODE ARG_STD_INT_REGION_CODE ARG_CBR_COMPLEMENTO">

         <wsdl:input message="impl:NOVO_TELEFONERequest" name="NOVO_TELEFONERequest"/>

         <wsdl:output message="impl:NOVO_TELEFONEResponse" name="NOVO_TELEFONEResponse"/>

         <wsdl:fault message="impl:M4SoapException" name="M4SoapException"/>

      </wsdl:operation>

      <wsdl:operation name="NOVO_DEPENDENTE" parameterOrder="ARG_STD_ID_HR ARG_STD_OR_DEP_NB ARG_STD_DT_START ARG_STD_DT_END ARG_STD_ID_DEP_TYPE ARG_STD_ID_FAMILY_PERSON ARG_STD_COMMENT">

         <wsdl:input message="impl:NOVO_DEPENDENTERequest" name="NOVO_DEPENDENTERequest"/>

         <wsdl:output message="impl:NOVO_DEPENDENTEResponse" name="NOVO_DEPENDENTEResponse"/>

         <wsdl:fault message="impl:M4SoapException" name="M4SoapException"/>

      </wsdl:operation>

      <wsdl:operation name="PESQUISAR_BANCO" parameterOrder="ARG_STD_ID_PERSON">

         <wsdl:input message="impl:PESQUISAR_BANCORequest" name="PESQUISAR_BANCORequest"/>

         <wsdl:output message="impl:PESQUISAR_BANCOResponse" name="PESQUISAR_BANCOResponse"/>

         <wsdl:fault message="impl:M4SoapException" name="M4SoapException"/>

      </wsdl:operation>

      <wsdl:operation name="ALTERAR_ENDERECO" parameterOrder="ARG_STD_ID_PERSON ARG_STD_OR_ADDRESS ARG_STD_DT_START ARG_STD_DT_END ARG_CBR_OR_LOGRADOURO ARG_STD_ADDRESS_LINE_1 ARG_STD_ADDRESS_LINE_2 ARG_STD_ZIP_CODE ARG_SCO_GB_ADDRESS ARG_STD_ID_GEO_PLACE ARG_STD_ID_SUB_GEO_DIV ARG_STD_ID_GEO_DIV ARG_STD_ID_COUNTRY ARG_STD_ID_LOCATION_TYPE ARG_STD_MAILING_CHECK">

         <wsdl:input message="impl:ALTERAR_ENDERECORequest" name="ALTERAR_ENDERECORequest"/>

         <wsdl:output message="impl:ALTERAR_ENDERECOResponse" name="ALTERAR_ENDERECOResponse"/>

         <wsdl:fault message="impl:M4SoapException" name="M4SoapException"/>

      </wsdl:operation>

      <wsdl:operation name="ALTERAR_TELEFONE" parameterOrder="ARG_STD_ID_PERSON ARG_STD_OR_PHONE ARG_STD_PHONE ARG_STD_DT_START ARG_STD_DT_END ARG_STD_ID_LINE_TYPE ARG_STD_INT_COUNTRY_CODE ARG_STD_INT_REGION_CODE ARG_CBR_COMPLEMENTO">

         <wsdl:input message="impl:ALTERAR_TELEFONERequest" name="ALTERAR_TELEFONERequest"/>

         <wsdl:output message="impl:ALTERAR_TELEFONEResponse" name="ALTERAR_TELEFONEResponse"/>

         <wsdl:fault message="impl:M4SoapException" name="M4SoapException"/>

      </wsdl:operation>

      <wsdl:operation name="ALTERAR_DEPENDENTE" parameterOrder="ARG_STD_ID_HR ARG_STD_OR_DEP_NB ARG_STD_DT_START ARG_STD_DT_END ARG_STD_ID_DEP_TYPE ARG_STD_ID_FAMILY_PERSON ARG_STD_COMMENT">

         <wsdl:input message="impl:ALTERAR_DEPENDENTERequest" name="ALTERAR_DEPENDENTERequest"/>

         <wsdl:output message="impl:ALTERAR_DEPENDENTEResponse" name="ALTERAR_DEPENDENTEResponse"/>

         <wsdl:fault message="impl:M4SoapException" name="M4SoapException"/>

      </wsdl:operation>

      <wsdl:operation name="PESQUISAR_ENDERECO" parameterOrder="ARG_STD_ID_PERSON">

         <wsdl:input message="impl:PESQUISAR_ENDERECORequest" name="PESQUISAR_ENDERECORequest"/>

         <wsdl:output message="impl:PESQUISAR_ENDERECOResponse" name="PESQUISAR_ENDERECOResponse"/>

         <wsdl:fault message="impl:M4SoapException" name="M4SoapException"/>

      </wsdl:operation>

      <wsdl:operation name="PESQUISAR_TELEFONE" parameterOrder="ARG_STD_ID_PERSON ARG_SCO_GB_NAME">

         <wsdl:input message="impl:PESQUISAR_TELEFONERequest" name="PESQUISAR_TELEFONERequest"/>

         <wsdl:output message="impl:PESQUISAR_TELEFONEResponse" name="PESQUISAR_TELEFONEResponse"/>

         <wsdl:fault message="impl:M4SoapException" name="M4SoapException"/>

      </wsdl:operation>

      <wsdl:operation name="PESQUISAR_DEPENDENTE" parameterOrder="ARG_STD_ID_HR">

         <wsdl:input message="impl:PESQUISAR_DEPENDENTERequest" name="PESQUISAR_DEPENDENTERequest"/>

         <wsdl:output message="impl:PESQUISAR_DEPENDENTEResponse" name="PESQUISAR_DEPENDENTEResponse"/>

         <wsdl:fault message="impl:M4SoapException" name="M4SoapException"/>

      </wsdl:operation>

      <wsdl:operation name="PESQUISAR_AGENCIA_BANCARIA" parameterOrder="ARG_CBR_ID_BANCO">

         <wsdl:input message="impl:PESQUISAR_AGENCIA_BANCARIARequest" name="PESQUISAR_AGENCIA_BANCARIARequest"/>

         <wsdl:output message="impl:PESQUISAR_AGENCIA_BANCARIAResponse" name="PESQUISAR_AGENCIA_BANCARIAResponse"/>

         <wsdl:fault message="impl:M4SoapException" name="M4SoapException"/>

      </wsdl:operation>

      <wsdl:operation name="retrieveM4Session" parameterOrder="in0">

         <wsdl:input message="impl:retrieveM4SessionRequest" name="retrieveM4SessionRequest"/>

         <wsdl:output message="impl:retrieveM4SessionResponse" name="retrieveM4SessionResponse"/>

         <wsdl:fault message="impl:M4SoapException" name="M4SoapException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CBR_IFC_WS_VWPESSOASoapBinding" type="impl:Cbr_Ifc_Ws_VwpessoaService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="CBR_PESQUISAR_LOGRADOURO">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="CBR_PESQUISAR_LOGRADOURORequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="CBR_PESQUISAR_LOGRADOUROResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="M4SoapException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="M4SoapException" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="M4LoadObject">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="M4LoadObjectRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="M4LoadObjectResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="M4SoapException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="M4SoapException" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="NOVO">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="NOVORequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="NOVOResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="M4SoapException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="M4SoapException" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="ALTERAR">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="ALTERARRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="ALTERARResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="M4SoapException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="M4SoapException" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="PESQUISAR">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="PESQUISARRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="PESQUISARResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="M4SoapException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="M4SoapException" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="NOVO_BANCO">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="NOVO_BANCORequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="NOVO_BANCOResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="M4SoapException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="M4SoapException" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="ALTERAR_BANCO">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="ALTERAR_BANCORequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="ALTERAR_BANCOResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="M4SoapException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="M4SoapException" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="NOVO_ENDERECO">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="NOVO_ENDERECORequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="NOVO_ENDERECOResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="M4SoapException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="M4SoapException" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="NOVO_TELEFONE">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="NOVO_TELEFONERequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="NOVO_TELEFONEResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="M4SoapException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="M4SoapException" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="NOVO_DEPENDENTE">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="NOVO_DEPENDENTERequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="NOVO_DEPENDENTEResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="M4SoapException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="M4SoapException" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="PESQUISAR_BANCO">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="PESQUISAR_BANCORequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="PESQUISAR_BANCOResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="M4SoapException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="M4SoapException" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="ALTERAR_ENDERECO">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="ALTERAR_ENDERECORequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="ALTERAR_ENDERECOResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="M4SoapException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="M4SoapException" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="ALTERAR_TELEFONE">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="ALTERAR_TELEFONERequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="ALTERAR_TELEFONEResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="M4SoapException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="M4SoapException" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="ALTERAR_DEPENDENTE">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="ALTERAR_DEPENDENTERequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="ALTERAR_DEPENDENTEResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="M4SoapException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="M4SoapException" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="PESQUISAR_ENDERECO">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="PESQUISAR_ENDERECORequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="PESQUISAR_ENDERECOResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="M4SoapException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="M4SoapException" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="PESQUISAR_TELEFONE">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="PESQUISAR_TELEFONERequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="PESQUISAR_TELEFONEResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="M4SoapException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="M4SoapException" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="PESQUISAR_DEPENDENTE">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="PESQUISAR_DEPENDENTERequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="PESQUISAR_DEPENDENTEResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="M4SoapException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="M4SoapException" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="PESQUISAR_AGENCIA_BANCARIA">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="PESQUISAR_AGENCIA_BANCARIARequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="PESQUISAR_AGENCIA_BANCARIAResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="M4SoapException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="M4SoapException" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="retrieveM4Session">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="retrieveM4SessionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="retrieveM4SessionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="M4SoapException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="M4SoapException" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="Cbr_Ifc_Ws_VwpessoaServiceService">

      <wsdl:port binding="impl:CBR_IFC_WS_VWPESSOASoapBinding" name="CBR_IFC_WS_VWPESSOA">

         <wsdlsoap:address location="http://dbdev3/services/CBR_IFC_WS_VWPESSOA"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>

