WSDL2JavaUtil/wsdl/cbr_ifc_ws_out_licenca_sem_ven.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://schemas.meta4.com/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://schemas.meta4.com/" xmlns:intf="http://schemas.meta4.com/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://schemas.meta4.com/types" xmlns:tns2="http://exception.soapservices.meta4.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="http://schemas.meta4.com/types" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://exception.soapservices.meta4.com"/>
   <import namespace="http://schemas.meta4.com/"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Cbr_Ifc_Ws_Out_Licenca_Sem_VenRecord">
    <sequence>

     <element name="ano_Ato_Ini" nillable="true" type="xsd:double"/>
     <element name="cbr_Dt_End" nillable="true" type="xsd:dateTime"/>
     <element name="cbr_Dt_Start" nillable="true" type="xsd:dateTime"/>
     <element name="cbr_Id_Tp_Afast" nillable="true" type="xsd:double"/>
     <element name="cbr_N_Tp_Afast" nillable="true" type="xsd:string"/>
     <element name="cbr_N_Tp_Remuner" nillable="true" type="xsd:string"/>
     <element name="m4AutoGeneratedRecordID" nillable="true" type="xsd:string"/>
     <element name="m4AutoGeneratedToDelete" type="xsd:boolean"/>
     <element name="numero_Ato_Ini" nillable="true" type="xsd:double"/>

     <element name="tipo_Ato" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Cbr_Ifc_Ws_Out_Licenca_Sem_VenBlock">
    <sequence>
     <element name="cbr_Ifc_Ws_Out_Licenca_Sem_VenRecordSet" nillable="true" type="impl:ArrayOf_tns1_Cbr_Ifc_Ws_Out_Licenca_Sem_VenRecord"/>
     <element name="sql" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>

   <complexType name="LogMessage">
    <sequence>
     <element name="code" nillable="true" type="xsd:string"/>
     <element name="description" nillable="true" type="xsd:string"/>
     <element name="severity" nillable="true" type="xsd:string"/>
     <element name="title" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="M4LoadobjectOutput">

    <sequence>
     <element name="cbr_Ifc_Ws_Out_Licenca_Sem_Ven" nillable="true" type="tns1:Cbr_Ifc_Ws_Out_Licenca_Sem_VenBlock"/>
     <element name="logMessage" nillable="true" type="impl:ArrayOf_tns1_LogMessage"/>
     <element name="return" type="xsd:double"/>
    </sequence>
   </complexType>
   <complexType name="Get_Licenca_Sem_VencimentoOutput">
    <sequence>
     <element name="cbr_Ifc_Ws_Out_Licenca_Sem_Ven" nillable="true" type="tns1:Cbr_Ifc_Ws_Out_Licenca_Sem_VenBlock"/>

     <element name="logMessage" nillable="true" type="impl:ArrayOf_tns1_LogMessage"/>
     <element name="return" type="xsd:double"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://schemas.meta4.com/" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://exception.soapservices.meta4.com"/>
   <import namespace="http://schemas.meta4.com/types"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>

   <complexType name="ArrayOf_tns1_Cbr_Ifc_Ws_Out_Licenca_Sem_VenRecord">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:Cbr_Ifc_Ws_Out_Licenca_Sem_VenRecord[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns1_LogMessage">
    <complexContent>

     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:LogMessage[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://exception.soapservices.meta4.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.meta4.com/types"/>
   <import namespace="http://schemas.meta4.com/"/>

   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="M4SoapException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="GET_LICENCA_SEM_VENCIMENTOResponse">

      <wsdl:part name="GET_LICENCA_SEM_VENCIMENTOReturn" type="tns1:Get_Licenca_Sem_VencimentoOutput"/>

   </wsdl:message>

   <wsdl:message name="GET_LICENCA_SEM_VENCIMENTORequest">

      <wsdl:part name="ARG_ENTIDADE" type="soapenc:string"/>

      <wsdl:part name="ARG_MATRICULA" type="soapenc:string"/>

      <wsdl:part name="ARG_TIPO_VIGENCIA" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="retrieveM4SessionRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="M4SoapException">

      <wsdl:part name="fault" type="tns2:M4SoapException"/>

   </wsdl:message>

   <wsdl:message name="retrieveM4SessionResponse">

      <wsdl:part name="retrieveM4SessionReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="M4LoadObjectResponse">

      <wsdl:part name="M4LoadObjectReturn" type="tns1:M4LoadobjectOutput"/>

   </wsdl:message>

   <wsdl:message name="M4LoadObjectRequest">

      <wsdl:part name="CBR_IFC_WS_OUT_LICENCA_SEM_VEN" type="tns1:Cbr_Ifc_Ws_Out_Licenca_Sem_VenBlock"/>

   </wsdl:message>

   <wsdl:portType name="Cbr_Ifc_Ws_Out_Licenca_Sem_VenService">

      <wsdl:operation name="M4LoadObject" parameterOrder="CBR_IFC_WS_OUT_LICENCA_SEM_VEN">

         <wsdl:input message="impl:M4LoadObjectRequest" name="M4LoadObjectRequest"/>

         <wsdl:output message="impl:M4LoadObjectResponse" name="M4LoadObjectResponse"/>

         <wsdl:fault message="impl:M4SoapException" name="M4SoapException"/>

      </wsdl:operation>

      <wsdl:operation name="GET_LICENCA_SEM_VENCIMENTO" parameterOrder="ARG_ENTIDADE ARG_MATRICULA ARG_TIPO_VIGENCIA">

         <wsdl:input message="impl:GET_LICENCA_SEM_VENCIMENTORequest" name="GET_LICENCA_SEM_VENCIMENTORequest"/>

         <wsdl:output message="impl:GET_LICENCA_SEM_VENCIMENTOResponse" name="GET_LICENCA_SEM_VENCIMENTOResponse"/>

         <wsdl:fault message="impl:M4SoapException" name="M4SoapException"/>

      </wsdl:operation>

      <wsdl:operation name="retrieveM4Session" parameterOrder="in0">

         <wsdl:input message="impl:retrieveM4SessionRequest" name="retrieveM4SessionRequest"/>

         <wsdl:output message="impl:retrieveM4SessionResponse" name="retrieveM4SessionResponse"/>

         <wsdl:fault message="impl:M4SoapException" name="M4SoapException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CBR_IFC_WS_OUT_LICENCA_SEM_VENSoapBinding" type="impl:Cbr_Ifc_Ws_Out_Licenca_Sem_VenService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="M4LoadObject">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="M4LoadObjectRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="M4LoadObjectResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="M4SoapException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="M4SoapException" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="GET_LICENCA_SEM_VENCIMENTO">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="GET_LICENCA_SEM_VENCIMENTORequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="GET_LICENCA_SEM_VENCIMENTOResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="M4SoapException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="M4SoapException" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="retrieveM4Session">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="retrieveM4SessionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="retrieveM4SessionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="M4SoapException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="M4SoapException" namespace="http://schemas.meta4.com/" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="Cbr_Ifc_Ws_Out_Licenca_Sem_VenServiceService">

      <wsdl:port binding="impl:CBR_IFC_WS_OUT_LICENCA_SEM_VENSoapBinding" name="CBR_IFC_WS_OUT_LICENCA_SEM_VEN">

         <wsdlsoap:address location="http://dbdev3/services/CBR_IFC_WS_OUT_LICENCA_SEM_VEN"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>

