WSDL2JavaUtil/wsdl/tst_geo_structure_s.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://schemas.meta4.com/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://schemas.meta4.com/" xmlns:intf="http://schemas.meta4.com/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://schemas.meta4.com/types" xmlns:tns2="http://exception.soapservices.meta4.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="http://schemas.meta4.com/types" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://exception.soapservices.meta4.com"/>
   <import namespace="http://schemas.meta4.com/"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Std_Mt_Geo_DivRecord">
    <sequence>
     <element name="m4AutoGeneratedRecordID" nillable="true" type="xsd:string"/>
     <element name="m4AutoGeneratedToDelete" type="xsd:boolean"/>
     <element name="std_Id_Geo_Div" nillable="true" type="xsd:string"/>
     <element name="std_N_Geo_Div" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Std_Mt_Geo_DivBlock">
    <sequence>
     <element name="documentacao" nillable="true" type="xsd:string"/>
     <element name="std_Id_Country" nillable="true" type="xsd:string"/>
     <element name="std_Mt_Geo_DivRecordSet" nillable="true" type="impl:ArrayOf_tns1_Std_Mt_Geo_DivRecord"/>
     <element name="sys_Param_A" nillable="true" type="xsd:string"/>
     <element name="sys_Sentence_A" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Std_Mt_CountryRecord">
    <sequence>
     <element name="m4AutoGeneratedRecordID" nillable="true" type="xsd:string"/>
     <element name="m4AutoGeneratedToDelete" type="xsd:boolean"/>
     <element name="std_Id_Count_Group" nillable="true" type="xsd:string"/>
     <element name="std_Id_Country" nillable="true" type="xsd:string"/>
     <element name="std_Id_Currency" nillable="true" type="xsd:string"/>
     <element name="std_Id_Nacionality" nillable="true" type="xsd:string"/>
     <element name="std_Mt_Geo_Div" nillable="true" type="tns1:Std_Mt_Geo_DivBlock"/>
     <element name="std_N_Country" nillable="true" type="xsd:string"/>
     <element name="std_N_Nacionality" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Std_Mt_CountryBlock">
    <sequence>
     <element name="documentacao" nillable="true" type="xsd:string"/>
     <element name="std_Mt_CountryRecordSet" nillable="true" type="impl:ArrayOf_tns1_Std_Mt_CountryRecord"/>
     <element name="sys_Param_A" nillable="true" type="xsd:string"/>
     <element name="sys_Sentence_A" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="LogMessage">
    <sequence>
     <element name="code" nillable="true" type="xsd:string"/>
     <element name="description" nillable="true" type="xsd:string"/>
     <element name="severity" nillable="true" type="xsd:string"/>
     <element name="title" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="M4LoadobjectOutput">
    <sequence>
     <element name="logMessage" nillable="true" type="impl:ArrayOf_tns1_LogMessage"/>
     <element name="return" type="xsd:double"/>
     <element name="std_Mt_Country" nillable="true" type="tns1:Std_Mt_CountryBlock"/>
    </sequence>
   </complexType>
   <complexType name="Getcountryinfo_EsOutput">
    <sequence>
     <element name="logMessage" nillable="true" type="impl:ArrayOf_tns1_LogMessage"/>
     <element name="return" type="xsd:double"/>
     <element name="std_Mt_Country" nillable="true" type="tns1:Std_Mt_CountryBlock"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://schemas.meta4.com/" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://exception.soapservices.meta4.com"/>
   <import namespace="http://schemas.meta4.com/types"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_tns1_Std_Mt_Geo_DivRecord">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:Std_Mt_Geo_DivRecord[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns1_Std_Mt_CountryRecord">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:Std_Mt_CountryRecord[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns1_LogMessage">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:LogMessage[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://exception.soapservices.meta4.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.meta4.com/types"/>
   <import namespace="http://schemas.meta4.com/"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="M4SoapException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>
 <wsdl:message name="retrieveM4SessionRequest">
 	<wsdl:part name="in0" type="soapenc:string"/>
 </wsdl:message>
 <wsdl:message name="M4SoapException">
 	<wsdl:part name="fault" type="tns2:M4SoapException"/>
 </wsdl:message>
 <wsdl:message name="retrieveM4SessionResponse">
      <wsdl:part name="retrieveM4SessionReturn" type="xsd:int"/>
 </wsdl:message>
   <wsdl:message name="GETCOUNTRYINFO_ESRequest">
      <wsdl:part name="AI_ID_COUNTRY" type="soapenc:string"/>
   </wsdl:message>
   <wsdl:message name="GETCOUNTRYINFO_ESResponse">
      <wsdl:part name="GETCOUNTRYINFO_ESReturn" type="tns1:Getcountryinfo_EsOutput"/>
   </wsdl:message>
   <wsdl:message name="M4LoadObjectResponse">
      <wsdl:part name="M4LoadObjectReturn" type="tns1:M4LoadobjectOutput"/>
   </wsdl:message>
   <wsdl:message name="M4LoadObjectRequest">
      <wsdl:part name="STD_MT_COUNTRY" type="tns1:Std_Mt_CountryBlock"/>
   </wsdl:message>
   <wsdl:portType name="Tst_Geo_Structure_EsService">
   <wsdl:operation name="M4LoadObject" parameterOrder="STD_MT_COUNTRY">
      <wsdl:input message="impl:M4LoadObjectRequest" name="M4LoadObjectRequest"/>
      <wsdl:output message="impl:M4LoadObjectResponse" name="M4LoadObjectResponse"/>
      <wsdl:fault message="impl:M4SoapException" name="M4SoapException"/>
   </wsdl:operation>
  <wsdl:operation name="GETCOUNTRYINFO_ES" parameterOrder="AI_ID_COUNTRY">
     <wsdl:input message="impl:GETCOUNTRYINFO_ESRequest" name="GETCOUNTRYINFO_ESRequest"/>
     <wsdl:output message="impl:GETCOUNTRYINFO_ESResponse" name="GETCOUNTRYINFO_ESResponse"/>
     <wsdl:fault message="impl:M4SoapException" name="M4SoapException"/>
  </wsdl:operation>
      <wsdl:operation name="retrieveM4Session" parameterOrder="in0">
         <wsdl:input message="impl:retrieveM4SessionRequest" name="retrieveM4SessionRequest"/>
         <wsdl:output message="impl:retrieveM4SessionResponse" name="retrieveM4SessionResponse"/>
         <wsdl:fault message="impl:M4SoapException" name="M4SoapException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="TST_GEO_STRUCTURE_ESSoapBinding" type="impl:Tst_Geo_Structure_EsService">
      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="M4LoadObject">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="M4LoadObjectRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>
         </wsdl:input>
         <wsdl:output name="M4LoadObjectResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>
         </wsdl:output>
         <wsdl:fault name="M4SoapException">
            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="M4SoapException" namespace="http://schemas.meta4.com/" use="encoded"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="GETCOUNTRYINFO_ES">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="GETCOUNTRYINFO_ESRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>
         </wsdl:input>
         <wsdl:output name="GETCOUNTRYINFO_ESResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>
         </wsdl:output>
         <wsdl:fault name="M4SoapException">
            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="M4SoapException" namespace="http://schemas.meta4.com/" use="encoded"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="retrieveM4Session">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="retrieveM4SessionRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>
         </wsdl:input>
         <wsdl:output name="retrieveM4SessionResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://schemas.meta4.com/" use="encoded"/>
         </wsdl:output>
         <wsdl:fault name="M4SoapException">
            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="M4SoapException" namespace="http://schemas.meta4.com/" use="encoded"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="Tst_Geo_Structure_EsServiceService">
      <wsdl:port binding="impl:TST_GEO_STRUCTURE_ESSoapBinding" name="TST_GEO_STRUCTURE_ES">
         <wsdlsoap:address location="http://meta4/services/TST_GEO_STRUCTURE_ES"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>

